* {
  list-style-type: none;
  text-decoration: none;
}

.container {
  margin: auto;
}

.shop {
  color: #545454;
  width: 100vw;
  max-height: 61, 2vh;
  display: flex;
  justify-content: center;
}

.shopContent {
  max-width: 1026px;
  padding: 80px 0 100px;
}

.shopTittle {
  padding-bottom: 60px;
  text-align: center;
  font-size: 34px;
  line-height: 1.3;
}

.shopIcon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 55px;
}

.shopIcon-item {
  width: 82px;
  height: 113px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--dark-bg);
}

.shopIcon-item:hover {
  position: relative;
  top: 3px;
}

.shopIcon-img {
  max-width: 82px;
  max-height: 113px;
  padding: 10px;
  border-radius: 15px;
}

.shopIcon-text {
  line-height: 1.3;
}
